<div class="navbar">
    <ul class="navbar-links">
        <li> <a class="link" routerLink="/"> Movies </a> </li>
        <li> <a class="link" routerLink="/actors"> Actors </a> </li>
        <li> <a class="link" routerLink="/"> About </a> </li>
    </ul>
    <header class="navbar-header">
        <a href="#" class="navbar-brand">Movie Maintenance</a>
    </header>
    <div class="hidden lg:flex w-full max-w-sm gap-4 justify-end text-slate-200">
        <div class="searchfield">
            <input type="text" placeholder="Search..." class="searchbar" />
            <fa-icon [icon]="searchIcon" class="icons"></fa-icon>
        </div>
    </div>
</div>