<div class="navbar">
    <ul class="navbar-link">
        <li> <a href="/"> Movies </a> </li>
        <li> <a href="/actors"> Actors </a> </li>
        <li> <a href="#"> Home </a> </li>
        <li> <a href="#"> Home </a> </li>
    </ul>
    <header class="navbar-header">
        <a href="#" class="navbar-brand">Movie app</a>
    </header>
    <div class="navbar-left">
        <div class="searchfield">
            <input type="text" placeholder="Search..." class="searchbar" />
        </div>
    </div>
</div>