<div class="movie-banner flex-col md:flex-row">

    <div class="movie-description">
        <span class="movie-banner-title">{{movie.title}} </span>
        <span>{{movie.language}} </span>
        <span>{{movie.date_of_release}} </span>
        <p>{{movie.description}}</p>
    </div>

    <div class="movie-banner-image">
        <img src={{movie.image}} alt="movie thumbnail" class="image-bg" />
    </div>
</div>
<div *ngIf="movie.id">
    <app-cast-list [movie]="movie.id"></app-cast-list>
</div>