<header class="header">
    <h1 class="title hidden md:inline">Latest Movies </h1>
    <div class="filters">
        <div class="filter-title">Filters</div>
        <div class="icons" (click)="handleDescending()">
            <fa-icon [icon]="filter" [ngClass]="{'tags-active' : isDescending}" class="icon"></fa-icon>
        </div>
        <div class="filter-tags">
            <div class="tags" [ngClass]="getStyle('title')" (click)="handleFilter('title')">
                <span>Name</span>
            </div>
            <div class="tags" [ngClass]="getStyle('date_of_release')" (click)="handleFilter('date_of_release')">
                <span>Release Date</span>
            </div>
            <div class="tags" [ngClass]="getStyle('language')" (click)="handleFilter('language')">
                <span>Language</span>
            </div>
        </div>
    </div>
</header>